@import url('https://fonts.googleapis.com/css2?family=Matemasie&display=swap');


body {
    height: 100vh;
    background-image: url(./images/background-img.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;
    margin: 0;
    padding: 0%;
}

header{
    background-color: rgba(202, 171, 124, 0.781);
    margin: 10px;
    border-radius: 10px;
    display: grid;
    justify-content: end;
    align-items: center;
 
}

nav{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 100px;
}

button{
    height: 100px;
    width: 100px;
    border-top-left-radius: 45px;
    border-bottom-left-radius: 45px;
    border-style: none;
    border: 1px solid rgb(130, 197, 209);
    background-color: beige;
    font-weight: bold;
}

button:hover{
    background-color: rgb(103, 141, 138);
    cursor: pointer;
}

#content{
    display: flex;
    padding-right: 200px;
    padding-left: 200px;
    padding-top: 100px;
    padding-bottom: 100px;
    overflow: auto;
}

.template{
    background-color: rgba(212, 180, 75, 0.822);
    width: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

.about{
    font-family: 'Courier New', Courier, monospace;
}

.about-para{
    font-family: 'Courier New', Courier, monospace;
    line-height: 20px;
}

.hours{
    font-family: 'Courier New', Courier, monospace;
}

.hours-para{
    font-family: 'Courier New', Courier, monospace;
    line-height: 20px;
}

.location{
    font-family: 'Courier New', Courier, monospace;
}

.location-para{
    font-family: 'Courier New', Courier, monospace;
    line-height: 20px;
}

.donuts-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.donut-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    

}

.donut-picture{
    height: 200px;
    width: 200px;
    border-radius: 20px;
}

.donut-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.donut-name{
    font-size: 24px;
    font-family: 'Matemasie';
}

.donut-price{
    font-size: 24px;
    font-weight: bold;
}

.contact-container{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.contact-info-containers{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    gap: 20px;
}